header {
	&.wp-block-template-part {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 500;
		@media (max-width: 799px) {
			position: fixed;
		}
		body.is-fixed & {
			position: fixed;
			top: 0;
			@media (min-width: 800px) {
				top: -34px;
			}
			@media (min-width: 992px) {
				top: -44px;
			}
		}
		& > * {
			width: calc( 100vw - min(9.791666vw, 188px) ); 
			margin-left: auto;
			margin-right: auto;
		}
		.wp-block-group {
			&.alignfull {
				width: 100vw;
				transition: opacity 0.3s;
				body.is-fixed & {
					opacity: 0;
				}
			}
		}
		.floating-menu {
			position: relative;
			body:not(.home) & {
				max-width: var(--wp--style--global--content-size);
			}
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				width: 100vw;
				height: 56px;				
				background: #fff;
				transform: translate(-50%, 0);
				z-index: -1;
				opacity: 0;
				transition: opacity 0.3s;
				box-shadow: 0px 3px 6px rgb(0 0 0 / 8%);
				
				@media (min-width: 800px) {
					height: 72px;
					top: -10px;
				}
				@media (min-width: 992px) {
					height: 82px;
				}
				body.is-fixed & {
					opacity: 1;
				}
			}
		}
	}
}

footer {
	&.wp-block-template-part {
		margin-block-start: 0;
		.wp-block-cover {
			min-height: 0;
			padding-top: min(105px, 5.46875vw);
			padding-bottom: min(120px, 6.25vw);
		}
		h3 {
			&.is-style-underline {
				border-bottom: 1px solid #fff;
				padding-bottom: 0.5em;
			}
		}
	}
}