.wp-site-blocks {
	& > * {
		&:not(.wp-block-template-part) {
			margin-block-start: 0;
			& > * {
				&:not(.alignfull):not(.alignwide):not(.wp-block-cover) {
					// padding-left: var( --wp--custom--spacing--outer );
					// padding-right: var( --wp--custom--spacing--outer );
					width: calc(100vw - (2 * var( --wp--custom--spacing--outer )));
				}
				&.alignwide:not(.has-background):not(.wp-block-cover) {
					width: calc(100vw - (2 * var( --wp--custom--spacing--outer )));
				}
				&:last-child {
					&:not(.alignfull) {
						margin-block-end: var( --wp--style--block-gap );
					}
				}
			}
			*:where(.wp-block-group.has-background) {
				padding-left: var( --wp--custom--spacing--outer );
				padding-right: var( --wp--custom--spacing--outer );
			}
		}
	}
}